
<!DOCTYPE html>
<html ng-app>
<head>
<meta charset="UTF-8">
   <title>Wishing well</title>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
   <link rel="stylesheet" type="text/css" href="home.css"/>
</head>

<body>
   <p>The Wishing Well</p>
   <p>Compliments:</p>
	   <input type="text" ng-model="compliment">   
			<md-button class="btn1" ng-click="acceptOffer();"> Accept </md-button>
		</input>

</body>

    <!--double blackets bind data -->
   <!-- to see what happen, run it, as you type in the textbox, it shows on screen -->
</body>
</html>